<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave-01</name>
  <description></description>
  <remoteFS>/home/harshith/</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.32.0">
    <host>172.31.44.252</host>
    <port>22</port>
    <credentialsId>d290e9c4-cca3-4734-ae18-63dafc92e5fd</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>slave</label>
  <nodeProperties/>
</slave>